<!DOCTYPE html>
<html lang="en">
<head>
   <style>
.button {
  border: none;
  color: white;
  padding: 20px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 200px 20px;
  cursor: pointer;
}

.button1 {background-color: #4CAF50;}
.button2 {background-color: #008CBA;}
.button3 {background-color: #003445;}
.button4 {background-color: #BA2E00;}
.button5 {background-color: #BA8B00;}
</style>
</head>
<body>
<button class="button button1">Appointment</button>
<button class="button button2">Doctor</button>
<button class="button button3">Patient</button>
<button class="button button4">Bed Status</button>
<button class="button button5">Billing</button>


</body>
</html>